<main>
    <section class="banner">
      <h1>Bem-vindo ao nosso cinema!</h1>
      <p>Assista aos melhores filmes em uma experiência incrível.</p>
    </section>

    <section class="filmes-em-destaque">
      <h2> Dicas de Navegação
        Ative a janela de acessibilidade em Libras que se encontra do lado direito da sua tela e conheça a Maya, nossa tradutora virtual responsável pela sinalização do conteúdo. Ao ativar a janela, você já pode navegar pelo site com o cursor e clicar no texto ou na imagem que desejar traduzir.
        
        Do lado esquerdo da tela, você encontrará a janela de acessibilidade para deficientes visuais e físicos. Basta clicar sobre o ícone para que um menu de ferramentas abra e você possa explorar todas as opções de acessibilidade.</h2>
      <div class="filme">
        <img src="../assets/img/avatar.jpg" alt="Filme 1">
        <h3> Avatar </h3>
        <p>3h 12m</p>
      </div>
      <div class="filme">
        <img src="../assets/img/homemaranha.jpg" alt="Filme 2">
        <h3> Homem-Aranha</h3>
        <p>2h 1m</p>
      </div>
    </section>
  </main>